* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background: rgb(31, 64, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz-container,
#score-container {
  background-color: white;
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container p {
  font-size: 1.5em;
  padding: 0.7em 0;
}

.hidden {
  display: none;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 750px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.option-button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f4f4f4;
  min-width: 250px;
}

.option-button.correct {
  background-color: #4caf50;
  color: white;
}

.option-button.incorrect {
  background-color: #f44336;
  color: white;
}

.score-container {
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #fefefe;
  color: #000;
  font-size: 1.5rem;
}

.score {
  display: block;
}

.next-button,
.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
}
